{
  "presets": [
    // Next.js
    "next/babel"
  ],
  "plugins": [
    // Resolve TypeScript module aliases
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src"
        }
      }
    ]
  ]
}
