{
    "presets": [
        // Environment
        [
            "@babel/preset-env",
            {
                // Use core-js version 3
                "corejs": 3,

                // Add polyfills based on usage
                "useBuiltIns": "usage"
            }
        ],

        // TypeScript
        "@babel/preset-typescript"
    ],
    "plugins": [
        // Class properties
        ["@babel/plugin-proposal-class-properties", { "loose": true }],

        // Object spread ({ ...a }) proposal
        "@babel/plugin-proposal-object-rest-spread",

        // Optional chaining (a?.b) proposal
        "@babel/plugin-proposal-optional-chaining",

        // Nullish coalescing operator (a ?? b) proposal
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}
